# Exoplanet Habitability Analysis - A Machine Learning EDA

##### A quick note: I've always loved outer space since I was a child, fascinated by planet, asteroids, stars, galaxies, and other celestial objects. From reading books explaining space, to watching theories on TV and movies, it is something I never really grew out of. Now as my final year in my BS program comes to a close, I'm excited to combine my passions for research and outer space in a solo endeavor.

### TABLE OF CONTENTS:
- TBA

### Flow: This EDA will analyze the exoplanets within the NASA Exoplanet Archive as of Sunday, October 5th, 2025. This analysis will classify exoplanets in 2 ways:
- classified based on ideal features for habitability
- via comparison to earth
### The techniques that I will use are binary classification and clustering.

In [ ]:
# imports 
import pandas as pd
import numpy as np

In [5]:
# Data preprocessing and cleaning
# PART 1: Prepping for classification
exoplanet_df = pd.read_csv("data/exoplanet_data.csv", comment = "#")

# there are around ~6000 exoplanets currently discovered, but there are many rows due to multiple discoveries
# must remove these extras so we only have 1 row/planet. Setting default flag to 1 to get most accurate/accepted data on planet
exoplanet_df = exoplanet_df[exoplanet_df["default_flag"] == 1]
print(exoplanet_df.info())
print(exoplanet_df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 6022 entries, 0 to 38951
Data columns (total 92 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pl_name          6022 non-null   object
 1   hostname         6022 non-null   object
 2   default_flag     6022 non-null   int64
 3   sy_snum          6022 non-null   int64
 4   sy_pnum          6022 non-null   int64
 5   discoverymethod  6022 non-null   object
 6   disc_year        6022 non-null   int64
 7   disc_facility    6022 non-null   object
 8   soltype          6022 non-null   object
 9   pl_controv_flag  6022 non-null   int64
 10  pl_refname       6022 non-null   object
 11  pl_orbper        5703 non-null   float64
 12  pl_orbpererr1    5214 non-null   float64
 13  pl_orbpererr2    5214 non-null   float64
 14  pl_orbperlim     5703 non-null   float64
 15  pl_orbsmax       3754 non-null   float64
 16  pl_orbsmaxerr1   2887 non-null   float64
 17  pl_orbsmaxerr2   2887 non-null   float64
 18  pl_orbsmaxlim    3755 non-null   float64
 19  pl_rade          4493 non-null   float64
 20  pl_radeerr1      4114 non-null   float64
 21  pl_radeerr2      4114 non-null   float64
 22  pl_radelim       4493 non-null   float64
 23  pl_radj          4493 non-null   float64
 24  pl_radjerr1      4114 non-null   float64
 25  pl_radjerr2      4114 non-null   float64
 26  pl_radjlim       4493 non-null   float64
 27  pl_bmasse        2941 non-null   float64
 28  pl_bmasseerr1    2754 non-null   float64
 29  pl_bmasseerr2    2754 non-null   float64
 30  pl_bmasselim     2941 non-null   float64
 31  pl_bmassj        2941 non-null   float64
 32  pl_bmassjerr1    2754 non-null   float64
 33  pl_bmassjerr2    2754 non-null   float64
 34  pl_bmassjlim     2941 non-null   float64
 35  pl_bmassprov     2941 non-null   object
 36  pl_orbeccen      2546 non-null   float64
 37  pl_orbeccenerr1  1686 non-null   float64
 38  pl_orbeccenerr2  1686 non-null   float64
 39  pl_orbeccenlim   2546 non-null   float64
 40  pl_insol         879 non-null    float64
 41  pl_insolerr1     841 non-null    float64
 42  pl_insolerr2     841 non-null    float64
 43  pl_insollim      879 non-null    float64
 44  pl_eqt           1620 non-null   float64
 45  pl_eqterr1       1462 non-null   float64
 46  pl_eqterr2       1462 non-null   float64
 47  pl_eqtlim        1620 non-null   float64
 48  ttv_flag         6016 non-null   float64
 49  st_refname       6008 non-null   object
 50  st_spectype      1268 non-null   object
 51  st_teff          5332 non-null   float64
 52  st_tefferr1      5143 non-null   float64
 53  st_tefferr2      5143 non-null   float64
 54  st_tefflim       5332 non-null   float64
 55  st_rad           5251 non-null   float64
 56  st_raderr1       5104 non-null   float64
 57  st_raderr2       5103 non-null   float64
 58  st_radlim        5251 non-null   float64
 59  st_mass          5267 non-null   float64
 60  st_masserr1      5002 non-null   float64
 61  st_masserr2      5001 non-null   float64
 62  st_masslim       5267 non-null   float64
 63  st_met           4264 non-null   float64
 64  st_meterr1       3986 non-null   float64
 65  st_meterr2       3986 non-null   float64
 66  st_metlim        4264 non-null   float64
 67  st_metratio      4253 non-null   object
 68  st_logg          4989 non-null   float64
 69  st_loggerr1      4826 non-null   float64
 70  st_loggerr2      4826 non-null   float64
 71  st_logglim       4989 non-null   float64
 72  sy_refname       6015 non-null   object
 73  rastr            6015 non-null   object
 74  ra               6015 non-null   float64
 75  decstr           6015 non-null   object
 76  dec              6015 non-null   float64
 77  sy_dist          5892 non-null   float64
 78  sy_disterr1      5788 non-null   float64
 79  sy_disterr2      5788 non-null   float64
 80  sy_vmag          5733 non-null   float64
 81  sy_vmagerr1      5728 non-null   float64
 82  sy_vmagerr2      5727 non-null   float64
 83  sy_kmag          5738 non-null   float64
 84  sy_kmagerr1      5701 non-null   float64
 85  sy_kmagerr2      5701 non-null   float64
 86  sy_gaiamag       5692 non-null   float64
 87  sy_gaiamagerr1   5692 non-null   float64
 88  sy_gaiamagerr2   5692 non-null   float64
 89  rowupdate        6014 non-null   object
 90  pl_pubdate       6015 non-null   object
 91  releasedate      6015 non-null   object
dtypes: float64(71), int64(5), object(16)
memory usage: 4.3+ MB
None
       default_flag      sy_snum      sy_pnum    disc_year  pl_controv_flag  \
count        6022.0  6022.000000  6022.000000  6022.000000      6022.000000
mean            1.0     1.104118     1.768848  2016.807207         0.005978
std             0.0     0.344776     1.152270     4.867164         0.077093
min             1.0     1.000000     1.000000  1992.000000         0.000000
25%             1.0     1.000000     1.000000  2014.000000         0.000000
50%             1.0     1.000000     1.000000  2016.000000         0.000000
75%             1.0     1.000000     2.000000  2021.000000         0.000000
max             1.0     4.000000     8.000000  2025.000000         1.000000

          pl_orbper  pl_orbpererr1  pl_orbpererr2  pl_orbperlim    pl_orbsmax  \
count  5.703000e+03   5.214000e+03   5.214000e+03   5703.000000   3754.000000
mean   4.512228e+03   1.647203e+03  -1.784070e+03     -0.001052     21.657898
std    1.647383e+05   6.676287e+04   7.613712e+04      0.032422    417.074222
min    9.070629e-02   0.000000e+00  -4.000000e+06     -1.000000      0.004400
25%    4.344618e+00   1.230250e-05  -1.540500e-03      0.000000      0.053703
50%    1.108508e+01   8.766500e-05  -8.803000e-05      0.000000      0.113000
75%    3.957026e+01   1.540500e-03  -1.233750e-05      0.000000      0.790825
max    8.040000e+06   3.650000e+06   0.000000e+00      0.000000  19000.000000

       ...  sy_disterr2      sy_vmag  sy_vmagerr1  sy_vmagerr2      sy_kmag  \
count  ...  5788.000000  5733.000000  5728.000000  5727.000000  5738.000000
mean   ...   -64.114790    12.571752     0.098937    -0.100456    10.423724
std    ...   270.669735     3.065173     0.136693     0.203502     2.996731
min    ... -2840.000000     0.872000     0.001000   -11.920000    -3.044000
25%    ...   -16.327000    10.700000     0.030000    -0.126000     8.432500
50%    ...    -4.054000    13.287000     0.080000    -0.080000    11.194000
75%    ...    -0.447400    14.957000     0.126000    -0.030000    12.762000
max    ...    -0.000350    44.610000     3.100000    -0.001000    33.110000

       sy_kmagerr1  sy_kmagerr2   sy_gaiamag  sy_gaiamagerr1  sy_gaiamagerr2
count  5701.000000  5701.000000  5692.000000     5692.000000     5692.000000
mean      0.043533    -0.043506    12.283167        0.000638       -0.000638
std       0.288134     0.293219     2.963331        0.001789        0.001789
min       0.011000    -9.995000     2.364310        0.000112       -0.063232
25%       0.020000    -0.031000    10.419100        0.000257       -0.000542
50%       0.023000    -0.023000    13.020550        0.000364       -0.000364
75%       0.031000    -0.020000    14.713775        0.000542       -0.000257
max       9.995000    -0.011000    20.186100        0.063232       -0.000112

[8 rows x 76 columns]

In [6]:
# let's see what the first 10 rows look like just to get a feel for the data
print(exoplanet_df.head(10))

                    pl_name               hostname  default_flag  sy_snum  \
0                  11 Com b                 11 Com             1        2
5                  11 UMi b                 11 UMi             1        1
7                  14 And b                 14 And             1        1
10                 14 Her b                 14 Her             1        1
21               16 Cyg B b               16 Cyg B             1        3
23                 17 Sco b                 17 Sco             1        1
25                 18 Del b                 18 Del             1        2
27  1RXS J160929.1-210524 b  1RXS J160929.1-210524             1        1
31                 24 Boo b                 24 Boo             1        1
33                 24 Sex b                 24 Sex             1        1

    sy_pnum  discoverymethod  disc_year  \
0         1  Radial Velocity       2007
5         1  Radial Velocity       2009
7         1  Radial Velocity       2008
10        2  Radial Velocity       2002
21        1  Radial Velocity       1996
23        1  Radial Velocity       2020
25        1  Radial Velocity       2008
27        1          Imaging       2008
31        1  Radial Velocity       2018
33        2  Radial Velocity       2010

                             disc_facility              soltype  \
0                         Xinglong Station  Published Confirmed
5   Thueringer Landessternwarte Tautenburg  Published Confirmed
7        Okayama Astrophysical Observatory  Published Confirmed
10                  W. M. Keck Observatory  Published Confirmed
21                  Multiple Observatories  Published Confirmed
23                        Lick Observatory  Published Confirmed
25       Okayama Astrophysical Observatory  Published Confirmed
27                      Gemini Observatory  Published Confirmed
31       Okayama Astrophysical Observatory  Published Confirmed
33                        Lick Observatory  Published Confirmed

    pl_controv_flag  ... sy_vmagerr2  sy_kmag  sy_kmagerr1  sy_kmagerr2  \
0                 0  ...      -0.023    2.282        0.346       -0.346
5                 0  ...      -0.005    1.939        0.270       -0.270
7                 0  ...      -0.023    2.331        0.240       -0.240
10                0  ...      -0.023    4.714        0.016       -0.016
21                0  ...      -0.016    4.651        0.016       -0.016
23                0  ...      -0.023    2.094        0.244       -0.244
25                0  ...      -0.023    3.366        0.204       -0.204
27                0  ...      -0.069    8.916        0.021       -0.021
31                0  ...      -0.001    3.159        0.280       -0.280
33                0  ...      -0.023    4.285        0.016       -0.016

    sy_gaiamag  sy_gaiamagerr1  sy_gaiamagerr2   rowupdate  pl_pubdate  \
0      4.44038        0.003848       -0.003848  2023-09-19     2023-08
5      4.56216        0.003903       -0.003903  2018-09-04     2017-03
7      4.91781        0.002826       -0.002826  2023-09-19     2023-08
10     6.38300        0.000351       -0.000351  2023-06-12     2022-09
21     6.06428        0.000603       -0.000603  2018-09-04     2017-03
23     4.75429        0.005055       -0.005055  2021-10-25     2020-12
25     5.27476        0.002654       -0.002654  2023-09-19     2023-08
27    12.05720        0.002275       -0.002275  2015-04-01     2015-03
31     5.33390        0.002000       -0.002000  2023-09-19     2023-08
33     6.20374        0.000498       -0.000498  2014-05-14     2011-01

    releasedate
0    2023-09-19
5    2018-09-06
7    2023-09-19
10   2023-06-12
21   2018-09-06
23   2021-10-25
25   2023-09-19
27   2015-04-01
31   2023-09-19
33   2014-05-14

[10 rows x 92 columns]

### DATA PREPROCESSING

In [9]:
# # automation for dropping columns with too little data
# missing_percentages = exoplanet_df.isnull().sum() / len(exoplanet_df) * 100
# threshold = 65
# columns_to_drop = ["pl_name", "hostname", "default_flag", "disc_year", "disc_facility", "discoverymethod"]
# print(missing_percentages.sort_values(ascending=False).head(15))
# # insolation flux is extremely important for planet habitability, so keep we keep it despite it's high missingness.
# # however, it is not a factor in our initial habitable column in order to give models as much planets to work with 
# # possible. 
# for col in exoplanet_df:
#     if missing_percentages[col] > threshold:
#         if col == "pl_insol":
#             continue # keep pl_insol
#         columns_to_drop.append(col)
#     if exoplanet_df[col].dtype == "object" and exoplanet_df[col].str.contains(r"https?://", na=False).any():
#         columns_to_drop.append(col)


# print("\nColumns dropped:", columns_to_drop)
# exoplanet_df.drop(columns = columns_to_drop, inplace = False)
# print(exoplanet_df.info())

### First, we need a target. There is no "habitable" column, so we'll create one by defining certain parameters that are similar to those of a habitable planet

In [10]:
# # habitable planet = rocky surface, temperate, single star system 
# # rough definition, but just broad so we have something to go off of

# radius_cond = (exoplanet_df["pl_rade"] >= 0.5) & (exoplanet_df["pl_rade"] <= 1.5)
# temp_cond = (exoplanet_df["st_teff"] >= 2600) & (exoplanet_df["st_teff"] <= 10000)
# starNum_cond = (exoplanet_df["sy_snum"] == 1) 
# flux_cond = (exoplanet_df["pl_insol"] >= 0.3) & (exoplanet_df["pl_insol"] <= 1.8)

# exoplanet_df["potentially_habitable"] = (radius_cond & temp_cond & starNum_cond & flux_cond).fillna(False)
# # the column looks like this
# #print(exoplanet_df["potentially_habitable"] == True)

# # see how many candidates we have just from the initial cate
# print(exoplanet_df["potentially_habitable"].value_counts())

### Now, we have our "habitable planets". As expected, we have way more false, than true. This means we have an unbalanced dataset.