# Exoplanet Habitability Analysis - A Machine Learning EDA

##### A quick note: I've always loved outer space since I was a child, fascinated by planet, asteroids, stars, galaxies, and other celestial objects. From reading books explaining space, to watching theories on TV and movies, it is something I never really grew out of. Now as my final year in my BS program comes to a close, I'm excited to combine my passions for research and outer space in a solo endeavor.

### TABLE OF CONTENTS:
- TBA

### Flow: This EDA will analyze the exoplanets within the NASA Exoplanet Archive as of Sunday, October 5th, 2025. This analysis will classify exoplanets in 2 ways:
- 1. VIA XGBoost (great for handling missing values)

In [6]:
# imports 
# Standard library
import time

# Core libraries
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import ConfusionMatrixDisplay, roc_curve, roc_auc_score

# PyTorch
# import torch
# import torch.nn as nn
# import torch.optim as optim
# from torch.utils.data import TensorDataset, DataLoader, WeightedRandomSampler

# Scikit-learn - model selection
from sklearn.model_selection import (
    train_test_split,
    StratifiedKFold,
    cross_val_score,
    GridSearchCV,
    RandomizedSearchCV
)

# Scikit-learn - preprocessing
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import (
    StandardScaler,
    OneHotEncoder,
    LabelEncoder,
    PolynomialFeatures
)
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Scikit-learn - models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import (
    RandomForestClassifier,
    BaggingClassifier,
    AdaBoostClassifier
)
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.svm import SVC

# Scikit-learn - feature selection and calibration
from sklearn.feature_selection import SelectFromModel, RFE
from sklearn.calibration import CalibratedClassifierCV

# Scikit-learn - evaluation metrics
from sklearn.metrics import (
    accuracy_score,
    classification_report,
    confusion_matrix,
    precision_recall_curve,
    f1_score,
    recall_score,
    precision_score,
    roc_auc_score,
    roc_curve,
    auc,
    average_precision_score
)

# Imbalanced-learn
from imblearn.pipeline import Pipeline as ImbPipeline
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

# XGBoost
import xgboost as xgb
from xgboost import XGBClassifier

# Scipy
from scipy.stats import loguniform


# load csv into a pandas DataFrame
exoplanet_df = pd.read_csv("data/exoplanet_data.csv", comment = "#")

In [7]:
# Data preprocessing and cleaning
# PART 1: Prepping for classification


# there are around ~6000 exoplanets currently discovered, but there are many rows due to multiple discoveries
# must remove these extras so we only have 1 row/planet. Setting default flag to 1 to get most accurate/accepted data on planet
exoplanet_df = exoplanet_df[exoplanet_df["default_flag"] == 1]
print(exoplanet_df.info())
print(exoplanet_df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 6028 entries, 0 to 38971
Data columns (total 92 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pl_name          6028 non-null   object
 1   hostname         6028 non-null   object
 2   default_flag     6028 non-null   int64
 3   sy_snum          6028 non-null   int64
 4   sy_pnum          6028 non-null   int64
 5   discoverymethod  6028 non-null   object
 6   disc_year        6028 non-null   int64
 7   disc_facility    6028 non-null   object
 8   soltype          6028 non-null   object
 9   pl_controv_flag  6028 non-null   int64
 10  pl_refname       6028 non-null   object
 11  pl_orbper        5709 non-null   float64
 12  pl_orbpererr1    5220 non-null   float64
 13  pl_orbpererr2    5220 non-null   float64
 14  pl_orbperlim     5709 non-null   float64
 15  pl_orbsmax       3757 non-null   float64
 16  pl_orbsmaxerr1   2890 non-null   float64
 17  pl_orbsmaxerr2   2890 non-null   float64
 18  pl_orbsmaxlim    3758 non-null   float64
 19  pl_rade          4499 non-null   float64
 20  pl_radeerr1      4120 non-null   float64
 21  pl_radeerr2      4120 non-null   float64
 22  pl_radelim       4499 non-null   float64
 23  pl_radj          4499 non-null   float64
 24  pl_radjerr1      4120 non-null   float64
 25  pl_radjerr2      4120 non-null   float64
 26  pl_radjlim       4499 non-null   float64
 27  pl_bmasse        2945 non-null   float64
 28  pl_bmasseerr1    2758 non-null   float64
 29  pl_bmasseerr2    2758 non-null   float64
 30  pl_bmasselim     2945 non-null   float64
 31  pl_bmassj        2945 non-null   float64
 32  pl_bmassjerr1    2758 non-null   float64
 33  pl_bmassjerr2    2758 non-null   float64
 34  pl_bmassjlim     2945 non-null   float64
 35  pl_bmassprov     2945 non-null   object
 36  pl_orbeccen      2546 non-null   float64
 37  pl_orbeccenerr1  1687 non-null   float64
 38  pl_orbeccenerr2  1687 non-null   float64
 39  pl_orbeccenlim   2546 non-null   float64
 40  pl_insol         885 non-null    float64
 41  pl_insolerr1     847 non-null    float64
 42  pl_insolerr2     847 non-null    float64
 43  pl_insollim      885 non-null    float64
 44  pl_eqt           1627 non-null   float64
 45  pl_eqterr1       1469 non-null   float64
 46  pl_eqterr2       1469 non-null   float64
 47  pl_eqtlim        1627 non-null   float64
 48  ttv_flag         6022 non-null   float64
 49  st_refname       6014 non-null   object
 50  st_spectype      1268 non-null   object
 51  st_teff          5338 non-null   float64
 52  st_tefferr1      5149 non-null   float64
 53  st_tefferr2      5149 non-null   float64
 54  st_tefflim       5338 non-null   float64
 55  st_rad           5257 non-null   float64
 56  st_raderr1       5110 non-null   float64
 57  st_raderr2       5109 non-null   float64
 58  st_radlim        5257 non-null   float64
 59  st_mass          5274 non-null   float64
 60  st_masserr1      5009 non-null   float64
 61  st_masserr2      5008 non-null   float64
 62  st_masslim       5274 non-null   float64
 63  st_met           4266 non-null   float64
 64  st_meterr1       3991 non-null   float64
 65  st_meterr2       3991 non-null   float64
 66  st_metlim        4266 non-null   float64
 67  st_metratio      4255 non-null   object
 68  st_logg          4995 non-null   float64
 69  st_loggerr1      4832 non-null   float64
 70  st_loggerr2      4832 non-null   float64
 71  st_logglim       4995 non-null   float64
 72  sy_refname       6021 non-null   object
 73  rastr            6021 non-null   object
 74  ra               6021 non-null   float64
 75  decstr           6021 non-null   object
 76  dec              6021 non-null   float64
 77  sy_dist          5898 non-null   float64
 78  sy_disterr1      5793 non-null   float64
 79  sy_disterr2      5793 non-null   float64
 80  sy_vmag          5739 non-null   float64
 81  sy_vmagerr1      5734 non-null   float64
 82  sy_vmagerr2      5733 non-null   float64
 83  sy_kmag          5744 non-null   float64
 84  sy_kmagerr1      5707 non-null   float64
 85  sy_kmagerr2      5707 non-null   float64
 86  sy_gaiamag       5698 non-null   float64
 87  sy_gaiamagerr1   5698 non-null   float64
 88  sy_gaiamagerr2   5698 non-null   float64
 89  rowupdate        6020 non-null   object
 90  pl_pubdate       6021 non-null   object
 91  releasedate      6021 non-null   object
dtypes: float64(71), int64(5), object(16)
memory usage: 4.3+ MB
None
       default_flag     sy_snum      sy_pnum    disc_year  pl_controv_flag  \
count        6028.0  6028.00000  6028.000000  6028.000000      6028.000000
mean            1.0     1.10418     1.768414  2016.815362         0.005972
std             0.0     0.34481     1.151874     4.871597         0.077055
min             1.0     1.00000     1.000000  1992.000000         0.000000
25%             1.0     1.00000     1.000000  2014.000000         0.000000
50%             1.0     1.00000     1.000000  2016.000000         0.000000
75%             1.0     1.00000     2.000000  2021.000000         0.000000
max             1.0     4.00000     8.000000  2025.000000         1.000000

          pl_orbper  pl_orbpererr1  pl_orbpererr2  pl_orbperlim    pl_orbsmax  \
count  5.709000e+03   5.220000e+03   5.220000e+03   5709.000000   3757.000000
mean   4.528008e+03   1.662649e+03  -1.787840e+03     -0.001051     21.657550
std    1.646585e+05   6.673586e+04   7.609444e+04      0.032404    416.908462
min    9.070629e-02   0.000000e+00  -4.000000e+06     -1.000000      0.004400
25%    4.341951e+00   1.230750e-05  -1.529500e-03      0.000000      0.053800
50%    1.107085e+01   8.766500e-05  -8.803000e-05      0.000000      0.113000
75%    3.959552e+01   1.529500e-03  -1.239250e-05      0.000000      0.791000
max    8.040000e+06   3.650000e+06   0.000000e+00      0.000000  19000.000000

       ...  sy_disterr2     sy_vmag  sy_vmagerr1  sy_vmagerr2      sy_kmag  \
count  ...  5793.000000  5739.00000  5734.000000  5733.000000  5744.000000
mean   ...   -64.062771    12.57055     0.098879    -0.100396    10.423062
std    ...   270.558727     3.06427     0.136640     0.203408     2.995613
min    ... -2840.000000     0.87200     0.001000   -11.920000    -3.044000
25%    ...   -16.327000    10.69600     0.030000    -0.126000     8.433500
50%    ...    -4.046000    13.28700     0.080000    -0.080000    11.193500
75%    ...    -0.448200    14.95300     0.126000    -0.030000    12.761250
max    ...    -0.000350    44.61000     3.100000    -0.001000    33.110000

       sy_kmagerr1  sy_kmagerr2   sy_gaiamag  sy_gaiamagerr1  sy_gaiamagerr2
count  5707.000000  5707.000000  5698.000000     5698.000000     5698.000000
mean      0.043512    -0.043486    12.282054        0.000639       -0.000639
std       0.287984     0.293065     2.962436        0.001789        0.001789
min       0.011000    -9.995000     2.364310        0.000112       -0.063232
25%       0.020000    -0.031000    10.419100        0.000257       -0.000542
50%       0.023000    -0.023000    13.017000        0.000364       -0.000364
75%       0.031000    -0.020000    14.713375        0.000542       -0.000257
max       9.995000    -0.011000    20.186100        0.063232       -0.000112

[8 rows x 76 columns]

In [8]:
# let's see what the first 10 rows look like just to get a feel for the data
print(exoplanet_df.head(10))

                    pl_name               hostname  default_flag  sy_snum  \
0                  11 Com b                 11 Com             1        2
5                  11 UMi b                 11 UMi             1        1
7                  14 And b                 14 And             1        1
9                  14 Her b                 14 Her             1        1
17               16 Cyg B b               16 Cyg B             1        3
23                 17 Sco b                 17 Sco             1        1
25                 18 Del b                 18 Del             1        2
29  1RXS J160929.1-210524 b  1RXS J160929.1-210524             1        1
31                 24 Boo b                 24 Boo             1        1
33                 24 Sex b                 24 Sex             1        1

    sy_pnum  discoverymethod  disc_year  \
0         1  Radial Velocity       2007
5         1  Radial Velocity       2009
7         1  Radial Velocity       2008
9         2  Radial Velocity       2002
17        1  Radial Velocity       1996
23        1  Radial Velocity       2020
25        1  Radial Velocity       2008
29        1          Imaging       2008
31        1  Radial Velocity       2018
33        2  Radial Velocity       2010

                             disc_facility              soltype  \
0                         Xinglong Station  Published Confirmed
5   Thueringer Landessternwarte Tautenburg  Published Confirmed
7        Okayama Astrophysical Observatory  Published Confirmed
9                   W. M. Keck Observatory  Published Confirmed
17                  Multiple Observatories  Published Confirmed
23                        Lick Observatory  Published Confirmed
25       Okayama Astrophysical Observatory  Published Confirmed
29                      Gemini Observatory  Published Confirmed
31       Okayama Astrophysical Observatory  Published Confirmed
33                        Lick Observatory  Published Confirmed

    pl_controv_flag  ... sy_vmagerr2  sy_kmag  sy_kmagerr1  sy_kmagerr2  \
0                 0  ...      -0.023    2.282        0.346       -0.346
5                 0  ...      -0.005    1.939        0.270       -0.270
7                 0  ...      -0.023    2.331        0.240       -0.240
9                 0  ...      -0.023    4.714        0.016       -0.016
17                0  ...      -0.016    4.651        0.016       -0.016
23                0  ...      -0.023    2.094        0.244       -0.244
25                0  ...      -0.023    3.366        0.204       -0.204
29                0  ...      -0.069    8.916        0.021       -0.021
31                0  ...      -0.001    3.159        0.280       -0.280
33                0  ...      -0.023    4.285        0.016       -0.016

    sy_gaiamag  sy_gaiamagerr1  sy_gaiamagerr2   rowupdate  pl_pubdate  \
0      4.44038        0.003848       -0.003848  2023-09-19     2023-08
5      4.56216        0.003903       -0.003903  2018-09-04     2017-03
7      4.91781        0.002826       -0.002826  2023-09-19     2023-08
9      6.38300        0.000351       -0.000351  2023-06-12     2022-09
17     6.06428        0.000603       -0.000603  2018-09-04     2017-03
23     4.75429        0.005055       -0.005055  2021-10-25     2020-12
25     5.27476        0.002654       -0.002654  2023-09-19     2023-08
29    12.05720        0.002275       -0.002275  2015-04-01     2015-03
31     5.33390        0.002000       -0.002000  2023-09-19     2023-08
33     6.20374        0.000498       -0.000498  2014-05-14     2011-01

    releasedate
0    2023-09-19
5    2018-09-06
7    2023-09-19
9    2023-06-12
17   2018-09-06
23   2021-10-25
25   2023-09-19
29   2015-04-01
31   2023-09-19
33   2014-05-14

[10 rows x 92 columns]

### First, we need a target. There is no "habitable" column, so we'll create one by defining certain parameters that are similar to those of a habitable planet

In [9]:
# habitable planet = rocky surface, temperate, single star system 
# rough definition, but just broad so we have something to go off of

radius_cond = (exoplanet_df["pl_rade"] >= 0.5) & (exoplanet_df["pl_rade"] <= 1.5)
temp_cond = (exoplanet_df["st_teff"] >= 2600) & (exoplanet_df["st_teff"] <= 10000)
starNum_cond = (exoplanet_df["sy_snum"] == 1) 
flux_cond = (exoplanet_df["pl_insol"] >= 0.3) & (exoplanet_df["pl_insol"] <= 1.8)

exoplanet_df["potentially_habitable"] = (radius_cond & temp_cond & starNum_cond & flux_cond).fillna(False)
# the column looks like this
#print(exoplanet_df["potentially_habitable"] == True)

# see how many candidates we have just from the initial cate
print(exoplanet_df["potentially_habitable"].value_counts())

names = exoplanet_df.loc[exoplanet_df["potentially_habitable"] == True, "pl_name"]
for name in names:
    print(name)

potentially_habitable
False    6018
True       10
Name: count, dtype: int64
Gliese 12 b
K2-3 d
K2-72 e
Kepler-1649 c
Kepler-186 f
Kepler-438 b
Kepler-442 b
LP 890-9 c
TOI-700 d
TOI-700 e

### Now, we have our "habitable planets". As expected, we have way more false, than true. This means we have an unbalanced dataset.

#### I think we can find more. The main issue is the column "pl_insol". This is the insolation flux, an **extremely** important factor in planet habitability.
#### Unfortunately, this column has a high missing value

In [10]:
print(exoplanet_df["pl_insol"].isnull().sum())

5143

#### 5143 out of 6022 entries have a missing pl_insol value, and with that being one of my main categories for habitability, it needs to be worked with

### DATA PREPROCESSING
- dropping irrelevant/redundant columns
- handling missing vals
- standardize formatting
- scaling features for model training

In [22]:
# STEP 1: handpick the most infuential columns for determining habitability 
# and make a new dataframe

new_cols = ["pl_name", "sy_snum", "sy_pnum", "pl_rade", "pl_orbeccen", 
            "pl_insol", "pl_eqt", "st_teff", 
            "st_rad", "st_logg", "potentially_habitable"]
df = exoplanet_df[new_cols].copy() 
df = df.drop(columns=["pl_name"])

# show new info
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 6028 entries, 0 to 38971
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sy_snum                6028 non-null   int64
 1   sy_pnum                6028 non-null   int64
 2   pl_rade                4499 non-null   float64
 3   pl_orbeccen            2546 non-null   float64
 4   pl_insol               885 non-null    float64
 5   pl_eqt                 1627 non-null   float64
 6   st_teff                5338 non-null   float64
 7   st_rad                 5257 non-null   float64
 8   st_logg                4995 non-null   float64
 9   potentially_habitable  6028 non-null   bool
dtypes: bool(1), float64(7), int64(2)
memory usage: 476.8 KB
None
          sy_snum      sy_pnum      pl_rade  pl_orbeccen      pl_insol  \
count  6028.00000  6028.000000  4499.000000  2546.000000    885.000000
mean      1.10418     1.768414     4.428962     0.150655    434.885192
std       0.34481     1.151874     4.811774     0.183253   1708.079181
min       1.00000     1.000000     0.309800     0.000000      0.001600
25%       1.00000     1.000000     1.620000     0.008000      9.500000
50%       1.00000     1.000000     2.424768     0.086000     62.500000
75%       1.00000     2.000000     4.001675     0.214750    406.000000
max       4.00000     8.000000    77.342100     0.950000  44900.000000

            pl_eqt       st_teff       st_rad      st_logg
count  1627.000000   5338.000000  5257.000000  4995.000000
mean   1011.918795   5397.812580     1.484074     4.376535
std     542.947536   1488.701766     3.757246     0.445808
min      50.000000    415.000000     0.012300     0.541000
25%     585.600000   4925.000000     0.772000     4.294000
50%     914.000000   5553.500000     0.950000     4.450000
75%    1380.635000   5903.000000     1.240000     4.570000
max    4050.000000  40000.000000    88.475000     8.070000

In [28]:
# Training/splitting

X = df.drop(columns = ["potentially_habitable"])
y = df["potentially_habitable"].astype(int) # target, make it an int
# most functions assume positive (true) case = 1, so we make the change that true = 1, false = 0
# keep track of missing vals for pl_insol
X["pl_insol_missing"] = X["pl_insol"].isna().astype(int)

# reduce overfitting by using early stopping once new gains aren't effective anymore
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, stratify=y, random_state=42)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, stratify=y_train, random_state=42)

# class weight calc
pos = int(y_train.sum())
neg = int(len(y_train) - pos)
scale_pos_weight = neg / pos if pos > 0 else 1.0


print(f"Shapes: {X_train.shape} {X_val.shape} {X_test.shape}")
print(f"Train pos/neg: {pos } / {neg} => scale_pos_weight = {round(scale_pos_weight, 2)}")
print(f"Val pos rate: {round(y_val.mean(), 4)} Test pos rate: {round(y_test.mean(), 4)}")

Shapes: (3616, 10) (1206, 10) (1206, 10)
Train pos/neg: 6 / 3610 => scale_pos_weight = 601.67
Val pos rate: 0.0017 Test pos rate: 0.0017

#### Results Meaning
- There are only 6 positives to learn from
- Due to the splits, there will only be 2 positives in val and test
- Basically, there's too little actual habitble cases based on my requirements to draw any meaningful conclusions
- This make sense, if it were that easy to find another earth-like exolpanet, we'd probably be looking into things a lot heavier as a society.
- I'll reframe my approach to a rank-like system instead of a pure "yes or no". This way, the analysis can guage and talk about what makes a plane more habitable than another, rather than "this is habitable and this is not"
- soln: keep the binary classification approach w/ xgboost, using the probability score as a pseudo ranking

In [29]:
from sklearn.model_selection import RepeatedStratifiedKFold

top_k = [10, 25, 50, 100]

# wanna return recall, precision, and lift for each k
def topk_stats(y_true, scores, ks=top_k):
    order = np.argsort(-scores)
    
    y_sorted = np.asarray(y_true)[order]
    P = y_sorted.sum()
    base_rate = P / len(y_sorted) if len(y_sorted) else 0.0

    out = {}
    for k in ks:
        k = min(k, len(y_sorted))
        hits = y_sorted[:k].sum()
        recall = hits / P if P > 0 else 0.0
        precision = hits / k if k > 0 else 0.0
        lift = (precision / base_rate) if base_rate > 0 else 0.0
        out[k] = {"recall": recall, "precision": precision, "lift": lift}
    return out

rskf = RepeatedStratifiedKFold(n_splits=3, n_repeats=3, random_state=42)


cv_rows = []
for fold_idx, (tr, va) in enumerate(rskf.split(X, y), start=1):
    X_tr, X_va = X.iloc[tr], X.iloc[va]
    y_tr, y_va = y.iloc[tr], y.iloc[va]

    pos = int(y_tr.sum())
    neg = int(len(y_tr) - pos)
    spw = (neg / pos) if pos > 0 else 1.0

# xgboost implementattion w/ early stopping

    clf = XGBClassifier(
        objective = "binary:logistic",
        tree_method = "hist",
        n_estimators=2000,
        max_depth=4,
        min_child_weight=30,
        subsample=0.8,
        colsample_bytree=0.8,
        learning_rate=0.08,
        reg_alpha=0.0,
        reg_lambda=5.0,
        scale_pos_weight=spw,
        n_jobs=-1,
        eval_metric="aucpr",
        random_state=fold_idx,
        verbosity=0,
        early_stopping_rounds=50,
    )

    clf.fit(
        X_tr, y_tr,
        eval_set=[(X_va, y_va)],
        verbose=False
    )


    # probability as ranking score
    scores = clf.predict_proba(X_va)[:, 1]
    stats = topk_stats(y_va.values, scores, ks=top_k)

    for k, d in stats.items():
        cv_rows.append({
            "fold": fold_idx, "k": k,
            "recall": d["recall"], "precision": d["precision"], "lift": d["lift"],
            "best_iter": getattr(clf, "best_iteration", None)
        })

cv_df = pd.DataFrame(cv_rows)
summary = (cv_df.groupby("k")[["recall","precision","lift"]]
           .agg(["mean","std"]).reset_index())
summary

     k    recall           precision                  lift
            mean       std      mean       std        mean        std
0   10  0.861111  0.166667  0.288889  0.078174  173.027778  33.497946
1   25  0.962963  0.111111  0.128889  0.026667   77.397037   8.933910
2   50  1.000000  0.000000  0.066667  0.010000   40.186667   0.010000
3  100  1.000000  0.000000  0.033333  0.005000   20.093333   0.005000

In [ ]:
best_iters = [b for b in cv_df["best_iter"].dropna().tolist() if b is not None]
best_n = int(np.median(best_iters)) if best_iters else 300  # fallback

pos_all = int(y.sum()); neg_all = len(y) - pos_all
spw_all = (neg_all / pos_all) if pos_all > 0 else 1.0

final_clf = XGBClassifier(
    objective="binary:logistic",
    tree_method="hist",
    n_estimators=best_n,    
    max_depth=4,
    min_child_weight=30,
    subsample=0.8,
    colsample_bytree=0.8,
    learning_rate=0.08,
    reg_alpha=0.0,
    reg_lambda=5.0,
    scale_pos_weight=spw_all,
    n_jobs=-1,
    eval_metric="aucpr",
    random_state=123,
    verbosity=0,
)

final_clf.fit(X, y)  # no early stopping on the full fit


scores = final_clf.predict_proba(X)[:, 1]
rank_df = (exoplanet_df[["pl_name","pl_rade","pl_insol","pl_eqt","st_teff","st_rad","pl_orbeccen"]]
           .assign(score=scores, pl_insol_missing=X["pl_insol_missing"].values)
           .sort_values("score", ascending=False)
           .reset_index(drop=True))

rank_df.head(50)

,pl_name,pl_rade,pl_insol,pl_eqt,st_teff,st_rad,pl_orbeccen,score,pl_insol_missing
0,TOI-700 d,1.073000,0.850,NaN,3459.00,0.421000,0.042,0.974724,0
1,TOI-700 e,0.953000,1.270,NaN,3459.00,0.421000,0.059,0.974724,0
2,Kepler-1649 c,1.060000,0.750,234.0,3240.00,0.231700,NaN,0.969652,0
3,Kepler-438 b,1.120000,1.400,NaN,3748.00,0.520000,0.030,0.968688,0
4,Kepler-186 f,1.170000,0.300,NaN,3755.00,0.523000,0.040,0.967545,0
5,Kepler-442 b,1.340000,0.660,NaN,4402.00,0.598000,0.040,0.964660,0
6,TRAPPIST-1 d,0.788000,1.115,NaN,2566.00,0.119200,NaN,0.960709,0
7,TRAPPIST-1 e,0.920000,0.646,NaN,2566.00,0.119200,NaN,0.957862,0
8,LP 890-9 c,1.367000,0.906,272.0,2850.00,0.155600,NaN,0.956594,0
9,K2-72 e,1.290000,1.200,NaN,3360.47,0.330989,0.110,0.951994,0
10,TRAPPIST-1 h,0.755000,0.144,NaN,2566.00,0.119200,NaN,0.948366,0
11,TRAPPIST-1 f,1.045000,0.373,NaN,2566.00,0.119200,NaN,0.948366,0
12,TRAPPIST-1 g,1.129000,0.252,NaN,2566.00,0.119200,NaN,0.948366,0
13,K2-3 d,1.458000,1.440,305.2,3844.00,0.546000,0.091,0.926948,0
14,Gliese 12 b,0.958000,1.620,314.6,3296.00,0.261700,0.500,0.887067,0
15,TOI-2134 c,7.270000,1.400,306.0,4580.00,0.709000,0.670,0.749425,0
16,Teegarden's Star b,NaN,1.080,277.0,3034.00,0.120000,0.030,0.746965,0
17,L 98-59 f,NaN,1.100,285.0,3415.00,0.315500,0.044,0.746965,0
18,Kepler-440 b,1.860000,1.200,NaN,4134.00,0.559000,0.340,0.737994,0
19,Wolf 1069 b,NaN,0.652,250.1,3158.00,0.181300,NaN,0.732642,0
20,GJ 1002 b,NaN,0.670,230.9,3024.00,0.137000,NaN,0.732642,0
21,Kepler-1652 b,1.600000,0.810,268.0,3638.00,0.382000,NaN,0.732642,0
22,TOI-715 b,1.550000,0.670,234.0,3075.00,0.240000,NaN,0.732642,0
23,Kepler-296 e,1.530000,1.410,NaN,3740.00,0.480000,0.330,0.732401,0
24,GJ 3998 d,NaN,1.200,NaN,3726.00,0.500000,0.000,0.717566,0
25,HN Lib b,NaN,0.503,234.4,3347.00,0.299000,0.079,0.697551,0
26,GJ 514 b,NaN,0.280,202.0,3728.00,0.500000,0.450,0.697551,0
27,Teegarden's Star c,NaN,0.350,209.0,3034.00,0.120000,0.040,0.697551,0
28,Teegarden's Star d,NaN,0.120,159.0,3034.00,0.120000,0.070,0.697551,0
29,LHS 1140 b,1.730000,0.430,226.0,3096.00,0.215900,0.043,0.697551,0
30,Kepler-441 b,1.640000,0.210,NaN,4340.00,0.550000,0.100,0.694742,0
31,BD-210397 b,NaN,0.020,NaN,4051.00,0.747000,0.100,0.691199,0
32,Kepler-296 f,1.800000,0.620,NaN,3740.00,0.480000,0.330,0.688615,0
33,GJ 1002 c,NaN,0.257,181.7,3024.00,0.137000,NaN,0.681624,0
34,WD 1856+534 b,10.400000,0.181,163.0,4710.00,0.013100,0.000,0.681624,0
35,GJ 357 d,NaN,0.380,219.6,3505.00,0.337000,NaN,0.681624,0
36,Kepler-443 b,2.330000,0.860,NaN,4723.00,0.706000,0.110,0.587786,0
37,Kepler-725 c,NaN,1.400,268.0,5395.00,0.880000,0.436,0.587786,0
38,PH2 b,9.337081,1.200,295.1,5734.00,0.949000,0.215,0.587786,0
39,HD 191939 g,NaN,0.990,278.0,5348.00,0.940000,0.030,0.587786,0
40,HD 109286 b,NaN,0.709,259.4,5694.00,1.089000,0.338,0.587786,0
41,HD 27969 b,NaN,0.760,261.0,5966.00,1.270000,0.182,0.587786,0
42,HIP 41378 f,9.200000,1.240,294.0,6320.00,1.273000,NaN,0.587786,0
43,Kepler-1661 b,3.870000,0.880,243.0,5100.00,0.762000,0.057,0.587786,0
44,Kepler-22 b,2.100000,1.013,279.0,5596.00,0.869000,0.720,0.587786,0
45,Kepler-1996 c,2.810000,1.380,276.0,4580.00,0.675000,0.000,0.587786,0
46,Kepler-1653 b,2.170000,0.980,284.0,4807.00,0.693000,NaN,0.587786,0
47,Kepler-452 b,1.630000,1.100,265.0,5757.00,1.110000,NaN,0.587786,0
48,Wolf 1061 c,NaN,1.300,NaN,3342.00,0.307000,0.110,0.584619,0
49,GJ 1061 c,NaN,1.400,NaN,2953.00,0.156000,0.290,0.584619,0